{% extends 'base.html.twig' %}

{% block body %}
    <div class='container'>      
  Validation de la tache : {{ tache.description }}
  
{{ form_start(form) }}
{{ form_widget(form) }}

{{ form_end(form) }}

{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
        <div class="flash-{{ type }}">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endfor %}  
    </div>
{%  endblock %}