{% extends 'base.html.twig' %}

{% block body %}
{{ dump() }}
    
<h1>Validation de la tache {{ tache.description }}</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<a href="{{ path("userprofil" , {'id':user.id}) }}" class="btn">retour</a>

{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
        <div class="flash-{{ type }}">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endfor %}  


{% endblock %}
